# General ignores
__pycache__/
**/__pycache__/
.env
*.xml
*.json
!overview/knowledge_graph.json
*.sh
instructions.txt
results.txt
overview/README.md
overview/knowledge_graph.graphml

# Data and models
htr_base/data/*
!htr_base/data/GW/
!htr_base/data/GW/**
htr_base/data/IAM/
htr_base/saved_models/
htr_base/saved_models/pretrained_backbone.pt

# Test-related ignores
tests/figures/
# tests/test.py

# Project-specific directories
google_drive_upload/
results/


# Markdown files (except specific ones)
*.md
!/README.md
!AGENTS.md
!overview/project_overview.md
!GEMINI.md
!docs/knowledge_graph.md
