# Ignore data and saved models directories
htr_base/data/
htr_base/saved_models/

# Ignore all __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore all Markdown files
*.md

# Ignore all JSON files
*.json
*.sh